<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Emerson_APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img class="foto" alt="Silhouette of mountains" src="../../assets/imagem 2.jpg"/>
    <ion-card-header>
      <ion-card-title>Emerson de Oliveira Alves</ion-card-title>
      <ion-card-subtitle>ADS0301M</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Trabalho atividade 1, semestre1, modelo de app Android.
    </ion-card-content>
  </ion-card>

</ion-content>
